/* css */

/* reset see: https://meyerweb.com/eric/tools/css/reset/ */

html, body, div, span, iframe {
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}